<!DOCTYPE html>
<html lang="en">
        
    <!-- Head Partial -->
    <%- include('./partials/head.ejs') %>

<body>

    <!-- Navigation Partial -->
    <%- include('./partials/nav.ejs') %>

    <div class="not-found-content">
        <h2>Error</h2>
        <h1>404</h1>
        <h2 id="page-not-found">Page Not Found</h2>
        <p>The page you are trying to access does not exist. Try going back to our homepage.</p>
        <a href="/"><button>Back to Home</button></a>
    </div>
    
    <!-- Footer Partial -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>