<!DOCTYPE html>
<html lang="en">
    
    <!-- Head Partial -->
    <%- include('./partials/head.ejs') %>

<body>

    <!-- Navigation Partial -->
    <%- include('./partials/nav.ejs') %>

    <div class="about-content">
        <h1>About Us</h1>
        <p>This is a simple about us page. This website is created as a task for my class in Ateneo de Naga University.</p>
    </div>
    
    <!-- Footer Partial -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>